
<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; All Products</h1>

  </header>

  <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead class="dashboard-table">
        <tr>
          <th colspan="2">Total Products</th>
          <th><%=@category_count %></th>
        </tr>
   
        <tr>
        <th colspan="2">Types of Categories</th>
        <th> <%= @product_count %> </th>
        
        </tr>
      </thead>
      
    </table>

  </div>

</section>
