<section class="products-index">

  <header class="page-header">
  <h2> "this is the one" </h2>
    <h1>Products</h1>
  </header>

  <div class="products">
    <%= render @products %>
  </div>

</section>
